StepFunction.txt
{
  "Comment": "Lambda Function",
  "StartAt": "Lambda",
  "States": {
    "Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:541667682907:function:a3-lambda-function"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Tier 1?"
    },
    "Tier 1?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tier",
          "NumericEquals": 1,
          "Next": "T1_SQS",
          "Comment": "Yes"
        },
        {
          "Not": {
            "Variable": "$.tier",
            "NumericEquals": 1
          },
          "Next": "Tier 2?",
          "Comment": "No"
        }
      ]
    },
    "T3_SQS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/541667682907/T3_SQS",
        "MessageBody": {
          "Email.$": "$.email",
          "Message.$": "$.message"
        },
        "MessageAttributes": {
          "Email": {
            "DataType": "String",
            "StringValue.$": "$.email"
          },
          "Message": {
            "DataType": "String",
            "StringValue.$": "$.message"
          }
        }
      },
      "End": true
    },
    "T2_SQS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/541667682907/T2_SQS",
        "MessageBody": {
          "Email.$": "$.email",
          "Message.$": "$.message"
        },
        "MessageAttributes": {
          "Email": {
            "DataType": "String",
            "StringValue.$": "$.email"
          },
          "Message": {
            "DataType": "String",
            "StringValue.$": "$.message"
          }
        }
      },
      "End": true
    },
    "T1_SQS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/541667682907/T1_SQS",
        "MessageBody": {
          "Email.$": "$.email",
          "Message.$": "$.message"
        },
        "MessageAttributes": {
          "Email": {
            "DataType": "String",
            "StringValue.$": "$.email"
          },
          "Message": {
            "DataType": "String",
            "StringValue.$": "$.message"
          }
        }
      },
      "End": true
    },
    "Tier 2?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tier",
          "NumericEquals": 2,
          "Next": "T2_SQS",
          "Comment": "Yes"
        },
        {
          "Not": {
            "Variable": "$.tier",
            "NumericEquals": 2
          },
          "Next": "Tier 3?",
          "Comment": "No"
        }
      ]
    },
    "Tier 3?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tier",
          "NumericEquals": 3,
          "Next": "T3_SQS",
          "Comment": "Yes"
        },
        {
          "Not": {
            "Variable": "$.tier",
            "NumericEquals": 3
          },
          "Next": "Unknown",
          "Comment": "No"
        }
      ],
      "Comment": "Yes"
    },
    "Unknown": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/541667682907/unknown",
        "MessageBody": {
          "Email.$": "$.email",
          "Message.$": "$.message"
        },
        "MessageAttributes": {
          "Email": {
            "DataType": "String",
            "StringValue.$": "$.email"
          },
          "Message": {
            "DataType": "String",
            "StringValue.$": "$.message"
          }
        }
      },
      "End": true
    }
  }
}